@charset "UTF-8";

.center_box {width: 1200px; margin: 0 auto; }

#header {width: 100%; min-width: 1200px; height: 170px; background: rgba(255, 255, 255, 0.9); position: absolute; z-index: 1;}
.visual_box {width: 100%; height: 920px; overflow: hidden;}	
#visual {width: 100%; min-width: 1200px; height: 900px; border-radius: 0 0 60% 60%; background: rgb(158, 209, 233); }
#section1 {width: 100%; min-width: 1200px; height: 205px; position: relative;}
#section2 {width: 100%; min-width: 1200px; height: 410px; }
#section3 {width: 100%; min-width: 1200px; height: 495px; background: #dbe9f5;}
#section4 {width: 100%; min-width: 1200px; height: 650px; background: #dbe9f5 url("../images/section4_bg.png") no-repeat top ;}
#section5 {width: 100%;min-width: 1200px;  height: 254px; background: #fff;}
#footer_gnb {width: 100%; min-width: 1200px; height: 550px; background: #787878;}
#footer {width: 100%; min-width: 1200px; height: 215px; background: #fff ;}


/* header */
#header .topmenu {width: 260px; height: 60px; float: right; }
#header .topmenu li {float: left; padding: 20px 10px; text-align: center;}
#header .topmenu li a {font-size: 15px; }
#header .topmenu li img {width: 23px; height: 23px; }

#header h1 {width: 170px; height: 50px; margin: 0 auto; padding: 30px;}

#header .gnb {width:100%; height: 60px; font-size: 0; text-align: center; text-align: center; margin: 0 auto;} 
#header .gnb > li {display: inline-block; height: 60px; line-height: 60px; font-size: 20px; vertical-align: top; position: relative;}
#header .gnb > li > a {display: block; padding: 0 60px; font-weight: bold; color: #666;}
#header .gnb > li:hover > a {color: #005aab;}

#header .lnb {margin-top: -10px; visibility: hidden; opacity: 0; transition: .5s; position: absolute; width: 100%;}
#header .lnb li {z-index: 10;}
#header .lnb li a { padding: 10px 10px; border-radius: 10px; transition: .2s; font-size: 16px; letter-spacing: -1px}
#header .lnb li:hover a {color: #fff; background: rgba(0, 90, 171, 0.8)}

#header .lnb_bg {width: 100%; height: 620px; position: absolute;top: 160px; background: rgba(255,255,255,0.9); z-index: -1; opacity: 0; visibility: hidden; transition: .5s;}

#header .gnb:hover .lnb {opacity: 1; margin-top: 0; visibility:visible;}
#header .gnb:hover ~ .lnb_bg {opacity: 1; visibility: visible; top: 170px;}


/* visual */
#visual {background: url("../images/visual_bg.jpg") no-repeat  ; background-size: 2500px 1346px; background-position: center -200px; position: relative; }

#visual::before{content: "";  width: 100%; height: 900px; border-radius: 0 0 60% 60%; position: absolute; background: #f7941e; z-index: -5; left: -40px;}
#visual::after {content: "";  width: 100%; height: 900px; border-radius: 0 0 60% 60%; position: absolute; background: #00ac5c; z-index: -5; right: -40px; top:0;}

#visual .center_box {position: relative; top:300px;}
#visual p {font-size: 40px; display: inline-block; height: 50px; color: #fff;  line-height: 50px; width: 800px;}
#visual .btn_visual {width: 140px; height: 45px; border: 2px solid #fff; border-radius: 10px; margin-top: 50px;}
#visual .btn_visual a {color: #fff; display: block; line-height: 45px; text-align: center; font-size: 25px;}

#visual .btn_visual:hover {background: rgba(31, 31, 31, 0.3); transition: .4s;}


/* section1 */
#section1 ul {text-align: center; font-size: 0; width: 100%; margin-top: -100px;}
#section1 li {display: inline-block; width: 230px; height: 130px;  border: 3px solid #f58359; background: #fff; border-radius: 15px; margin: 0 7.5px; box-shadow: 0px 10px 50px -1px rgba(114, 114, 114,0.5);}
#section1 li:nth-child(2) {border: 3px solid #f7941e;}
#section1 li:nth-child(3) {border: 3px solid #005aab;}
#section1 li:nth-child(4) {border: 3px solid #00ac5c;}
#section1 li a {font-size: 18px; color: #333; font-weight: bold; display: block;}

#section1 li div {margin: 10px auto; width: 65px; height: 65px;  background: url("../images/section1_icon.png") -15px ;}
#section1 li:nth-child(2) div {background-position: -277px 5px;}
#section1 li:nth-child(3) div {background-position: -542px 0;}
#section1 li:nth-child(4) div {background-position: -809px 0;}

/* section2 */
#section2  div {text-align: center;}
#section2 h2 {display: block;  text-align: left; height: 47px; position: relative; font-weight: normal; font-size: 24px;}
#section2 h2 span {  font-size: 13px; float: right; position: relative;}
#section2 h2 span a {display: block; color: #085fae;}
#section2 h2 span::before {content: ""; position: absolute; width: 35px; height: 1px; background: #085fae; top: 10px; left: -38px; }
#section2 h2::before {content: ""; position: absolute; width: 60px; height: 65px; background: url("../images/font_deco.png") no-repeat; left: -20px; top: -10px;}
#section2 ul {display: inline-block; width: 440px; height: 320px; margin: 0 30px;}
#section2 ul li {width: 100%; height: 45px; border-bottom: 1px solid #c5c5c5; }
#section2 ul li:hover p {background: #f5f5f5;}
#section2 ul li:last-child {border-bottom: none;}
#section2 ul li a {display: block; text-align: left; line-height: 45px;}
#section2 ul li p { font-size: 15px; color: #222; height: 45px; line-height: 45px; float: left; width: 350px; text-indent: 10px;}
#section2 ul li p:nth-child(2) {color: #c5c5c5; float: right; width: 90px; text-indent: 0;}


/* section3 */
#section3 ul {width: 100%; text-align: center; padding-top: 60px; position: relative;}
#section3 li {display: inline-block; vertical-align: top; width: 380px; height: 290px; text-align: center; ; cursor: pointer;}
#section3 li:nth-child(2) { margin: 0 20px; ;}
#section3 li figure {width: 100%;}
#section3 li figure img {width: 100%; height: 250px;}
#section3 li p {width: 100%; height: 65px; background: #085fae; color: #fff; font-size: 24px; line-height: 65px; text-align: left; text-indent: 15px; letter-spacing: -1px}

#section3 li p span { font-size: 13px; position: relative; }
#section3 li p span a {display: block;  color: #fff; float: right; padding-right: 15px;}
#section3 li p span::before {content: ""; position: absolute; width: 35px; height: 1px; background: #fff; top: 6px; right: -220px;}
#section3 li:last-child p span::before {right: -172px;}

#section3 .text {color: #222; background:transparent; bottom: -60px; font-size: 15px; text-indent: 0;} 


/* section4 */
#section4 .sns_box {width: 100%; text-align: center; font-size: 0;}
#section4 .sns_box h2 {display: block; color: #222; position: relative; padding: 90px 0 70px 0; font-size: 24px; font-weight: normal;}
#section4 .sns_box h2::before {content: ""; position: absolute; width: 60px; height: 65px; background: url("../images/font_deco_1.png") no-repeat; left: 41%; top: 80px;}

#section4 .sns_box div {width: 310px; height: 310px; background: #000; display: inline-block; position: relative; transition: .4s;}
#section4 .sns_box div:nth-child(3) {margin: 0 20px; background: url("../images/section4_2.png");}
#section4 .sns_box div:nth-child(4) {background: url("../images/section4_3.png");}
#section4 .sns_box div::before {content: ""; position: absolute; width: 70px; height: 50px; background: url("../images/GO.png") no-repeat; right: 10px; top: 50%; transform: translateY(50%); opacity: 0; transition: .4s; z-index: 2;}
#section4 .sns_box div::after {content: ""; background: rgba(0,0,0,0.5); position: absolute; width: 310px; height: 310px; left: 50%; transform: translateX(-50%); transition: .4s; opacity: 0;}

#section4 .sns_box div:hover::before,
#section4 .sns_box div:hover::after { opacity: 1;}
#section4 .sns_box iframe {display: inline-block; }

#section4 .sns_icon {display: block; text-align: center;}
#section4 .sns_icon div a {display: block; width: 36px; height: 36px; border-radius: 50%;}
#section4 .sns_icon div {width: 36px; height: 36px; border-radius: 50%; display: inline-block; background: url("../images/section4_icon.png") no-repeat; margin: 50px 10px;}
#section4 .sns_icon div:nth-child(2) {background-position: -70px 0;}
#section4 .sns_icon div:nth-child(3) {background-position: -140px 0;}
#section4 .sns_icon div:nth-child(4) {background-position: -210px 0;}
#section4 .sns_icon div:nth-child(5) {background-position: -280px 0;}


/* section5 */
#section5 .banner {width: 100%; height: 254px; text-align: center; }
#section5 .banner div {width: 360px; height: 150px; background: url("../images/section5_1png.png"); display: inline-block; margin-top: 52px; transition: .4s;}
#section5 .banner div:nth-child(2) {background: url("../images/section5_2png.png"); margin: 0 20px;}
#section5 .banner div:nth-child(3) {background: url("../images/section5_3png.png");}

#section5 .banner div a {display: block; font-size: 24px; line-height: 150px; text-align: left; text-indent: 30px;}

#section5 .banner div:nth-child(1):hover {background: url("../images/section5_11png.png");}
#section5 .banner div:nth-child(2):hover {background: url("../images/section5_22png.png");}
#section5 .banner div:nth-child(3):hover {background: url("../images/section5_33png.png");}


/* footer_gnb */
#footer_gnb h2 {display: block; color: #fff; font-weight: normal; font-size: 24px; position: relative; text-align: center; height: 122px; line-height: 122px;}
#footer_gnb h2::before {content: ""; position: absolute; width: 438px; height: 2px; background: #fff; left: 0; top: 50%; transform: translateY(50%);}
#footer_gnb h2::after {content: ""; position: absolute; width: 438px; height: 2px; background: #fff; top: 50%; transform: translateY(50%); right: 0;}
#footer_gnb .f_gnb {text-align: center;}
#footer_gnb .f_gnb li {font-size: 20px; color: #fff; display: inline-block; width: 165px; height: 25px; vertical-align: top; text-align: center; position: relative;}
#footer_gnb .f_gnb > li::before {content: ""; width: 1px; height: 25px; position: absolute; left: -2px; top: 0; background: #fff;}
#footer_gnb .f_gnb > li:nth-child(1):before {display: none;}

#footer_gnb .f_gnb .f_lnb { margin-top: 20px;}
#footer_gnb .f_gnb .f_lnb li {display: inline-block; height: 35px;}
#footer_gnb .f_gnb .f_lnb li a {font-size: 15px; color: #fff; border-radius: 10px; padding: 5px; line-height: 30px; height: 30px; transition: .2s;}
#footer_gnb .f_gnb .f_lnb li a:hover {background: rgb(58, 58, 58);}


/* footer */
#footer {position: relative;}
#footer::before {content: ""; position: absolute; top: 62px; width: 100%; height: 2px; background:  #ebebeb;}
#footer .info {width: 100%; height: 62px;}
#footer .info li {display: inline-block; height: 62px; line-height: 62px; padding: 0 15px;}
#footer .info li a {display: block; font-size: 15px;}
#footer .info li a:hover {text-decoration: underline;}

#footer h1 {margin: 30px 20px; float: left;}
#footer .address {float: left;  margin-left: 50px; margin-top: 30px; text-align: left;}
#footer .address p { font-size: 15px;}
#footer .address i { font-style: normal; font-size: 15px;}

